.customSelect {
  max-width: 300px;
  width: 100%;

  &__wrapper {
    position: relative;
  }

  &__btn {
    width: 100%;
    background-color: #fff;
    border: 1px solid #4EC9B0;
    cursor: pointer;
    padding: 10px;
    text-align: left;
  }

  &__options {
    border: 1px solid #4EC9B0;
    display: none;
    list-style: none;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    padding: 10px;
    top: 38px;
    width: 100%;

    &.show {
      display: block;
    }

    &-item {
      padding: 5px 0;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: .2s;
      &:hover {
        border-bottom: 1px solid #4EC9B0;
      }
    }
  }
}