.calendar {
  max-width: 300px;
  width: 100%;
  height: 40px;
  &__button {
    width: 100%;
    background-color: #fff;
    border: 1px solid #4EC9B0;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    position: relative;

    &::before {
      content: url('../../../assets/arrow-down.svg');
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 7px;
      width: 21px;
      height: 20px;
    }
  }
}

.react-calendar {
  display: none;
  position: absolute;
  z-index: 10;
  &.open {
    display: block;
  }
}