.analytics {
  &__title {
    margin-bottom: 15px;
  }
}

.homePage {
  padding: 20px;
  &__adding {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 20px;
  }
}